{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div>
    <p>logged as: {{ userIdentifier }}</p>
    <p>session as: {{ sessionId }}</p>
</div>
{% endblock %}
